@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: Work Sans;
}


/* Nav styles  */
nav {
    display: flex;
}



.nav-left {
    display: flex;

}

.nav-right {
    display: flex;
    gap: 20px;
    list-style: none;
}